
h1, h2{
    font-weight: 400px;
    text-align: center;
    margin: 2rem 0;
    font-size: 50px;
    color: #56529a;
}

.mini-box-black{
    height: 40px;
    background-color: black;
}

.mini-box-white{
    height: 40px;
    background-color: white;
}
.mini-box-red{
    height: 40px;
    background-color: #ed1c23;
}
.box{
    height: 80px;
    background-color: transparent;
}
.mini-box{
    height: 40px;
    background-color: #a249a4;
    border: 1px solid green
}